@import "dw-answer-element-style-override.css";
/* 去除手机网页点击事件的阴影 */
.dw-answer-custom-theme * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.dw-answer-custom-theme .dw-qu-item-el-checkbox-radio{
  /*display: inline-flex;*/
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 2px 5px;
  /*background: #f5f7fa;*/
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid #efefef;
  cursor: pointer;
}
.dw-answer-custom-theme .dw-qu-item-el-checkbox-radio.matrix-item{
  border: none;
  background: none!important;
  margin: 0;
  padding: 10px 5px;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}
.dw-answer-custom-theme .dw-qu-item-el-checkbox-radio-icon{
  /*background: red;*/
  font-size: 18px;
  margin-right: 5px;
  color: #ccc;
}
.dw-answer-custom-theme .dw-qu-item-el-checkbox-radio .dw-qu-option-text{
  /*margin:auto;*/
  width: 100%;
  padding: 6px;
}

.dw-answer-custom-theme .dw-radio-icon{
  font-size: 20px;
}
.dw-answer-custom-theme .dw-checkbox-icon{
  font-size: 22px;
}
.dw-answer-custom-theme .dw-qu-item-option-title{
  padding: 5px 0;
}
.dw-answer-custom-theme .dw-answer-question-remind{
  color: #afafb0;
  font-size: 12px;
}
.dw-answer-custom-theme .dw-answer-question-error{
  color: #ff6c6c;
  font-size: 12px;
  background: #f9e5e5;
  padding: 5px;
}
@media screen and (max-width: 750px) {
  .dw-answer-custom-theme .dw-answer-button-style1{
    width: 100%;
    margin: 5px 0;
  }
}

