/*@import "dw-answer-element-style-override.css";*/
.dw-qu-item-el-checkbox-radio{
  /*display: inline-flex;*/
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 2px 5px;
  /*background: #f5f7fa;*/
  margin-bottom: 5px;
  border-radius: 2px;
  border: 1px solid #efefef;
  cursor: pointer;
}
.dw-qu-item-el-checkbox-radio-icon{
  /*background: red;*/
  font-size: 18px;
  margin-right: 5px;
  color: #ccc;
}
.dw-qu-item-el-checkbox-radio .dw-qu-option-text{
  /*margin:auto;*/
  width: 100%;
  padding: 6px;
}

.dw-radio-icon{
  font-size: 20px;
}
.dw-checkbox-icon{
  font-size: 22px;
}
.dw-qu-item-option-title{
  padding: 5px 0;
}
.dw-answer-question-remind{
  color: #afafb0;
  font-size: 12px;
}
.dw-answer-question-error{
  color: #ff6c6c;
  font-size: 12px;
  background: #f9e5e5;
  padding: 5px;
}
@media screen and (max-width: 750px) {
  .dw-answer-button-style1{
    width: 100%;
  }
}
