@font-face {
  font-family: "dwsurveyfont"; /* Project id 2988292 */
  src: url('iconfont.woff2?t=1638623828621') format('woff2'),
       url('iconfont.woff?t=1638623828621') format('woff'),
       url('iconfont.ttf?t=1638623828621') format('truetype');
}

.dwsurveyfont {
  font-family: "dwsurveyfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dwsurvey-danxuan:before {
  content: "\e603";
}

.icon-dwsurvey-duoxuan:before {
  content: "\e605";
}

.icon-dwsurvey-tiankong:before {
  content: "\e606";
}

.icon-dwsurvey-pingfen:before {
  content: "\e607";
}

.icon-dwsurvey-paixu:before {
  content: "\e608";
}

.icon-dwsurvey-fenye:before {
  content: "\e609";
}

.icon-dwsurvey-fenye1:before {
  content: "\e60a";
}

.icon-dwsurvey-fenduan:before {
  content: "\e60b";
}

.icon-dwsurvey-daoru:before {
  content: "\e614";
}

.icon-dwsurvey-luoji:before {
  content: "\e615";
}

.icon-dwsurvey-shijian:before {
  content: "\e619";
}

.icon-dwsurvey-xialati:before {
  content: "\e61a";
}

.icon-dwsurvey-huakuaiti:before {
  content: "\e61d";
}

.icon-dwsurvey-huakuaiti1:before {
  content: "\e61e";
}

.icon-dwsurvey-liangbiaoti:before {
  content: "\e622";
}

.icon-dwsurvey-jilian:before {
  content: "\e623";
}

.icon-dwsurvey-shangchuan:before {
  content: "\e624";
}

.icon-dwsurvey-qianming:before {
  content: "\e629";
}

.icon-dwsurvey-juzhentiankong:before {
  content: "\e62a";
}

.icon-dwsurvey-juzhenpingfen:before {
  content: "\e62b";
}

.icon-dwsurvey-juzhenliangbiao:before {
  content: "\e62c";
}

.icon-dwsurvey-juzhenhuakuai:before {
  content: "\e62d";
}

.icon-dwsurvey-juzhenduoxuan:before {
  content: "\e62e";
}

.icon-dwsurvey-duoxiangtiankong:before {
  content: "\e630";
}

.icon-dwsurvey-duoxiangwenben:before {
  content: "\e631";
}

.icon-dwsurvey-tupiandanxuan:before {
  content: "\e633";
}

.icon-dwsurvey-juzhenshuzhi:before {
  content: "\e638";
}

.icon-dwsurvey-juzhenzuhe:before {
  content: "\e639";
}

.icon-dwsurvey-Email:before {
  content: "\e63b";
}

.icon-dwsurvey-juzhenxiala:before {
  content: "\e63c";
}

.icon-dwsurvey-juzhendanxuan:before {
  content: "\e63d";
}

.icon-dwsurvey-shouji:before {
  content: "\e63e";
}

.icon-dwsurvey-xingming:before {
  content: "\e640";
}

.icon-dwsurvey-dizhi:before {
  content: "\e641";
}

.icon-dwsurvey-hunyin:before {
  content: "\e642";
}

.icon-dwsurvey-shengri:before {
  content: "\e643";
}

.icon-dwsurvey-gongsi:before {
  content: "\e645";
}

.icon-dwsurvey-xueli:before {
  content: "\e646";
}

.icon-dwsurvey-chengshi:before {
  content: "\e647";
}

.icon-dwsurvey-shouru:before {
  content: "\e648";
}

.icon-dwsurvey-xingbie:before {
  content: "\e649";
}

.icon-dwsurvey-riqi:before {
  content: "\e64b";
}

.icon-dwsurvey-yangshi:before {
  content: "\e64c";
}

.icon-dwsurvey-shezhi:before {
  content: "\e64e";
}

.icon-dwsurvey-tiku:before {
  content: "\e64f";
}

.icon-dwsurvey-zhuanye:before {
  content: "\e650";
}

.icon-dwsurvey-yuanxiao:before {
  content: "\e651";
}

.icon-dwsurvey-hangye:before {
  content: "\e652";
}

.icon-dwsurvey-zhiye:before {
  content: "\e653";
}

.icon-dwsurvey-xueke:before {
  content: "\e654";
}

.icon-dwsurvey-nianji:before {
  content: "\e655";
}

.icon-dwsurvey-xuehao:before {
  content: "\e656";
}

.icon-dwsurvey-gonghao:before {
  content: "\e657";
}

.icon-dwsurvey-bumen:before {
  content: "\e658";
}

.icon-dwsurvey-shenfenzheng:before {
  content: "\e659";
}

.icon-dwsurvey-shehuimianmao:before {
  content: "\e65b";
}

.icon-dwsurvey-nianling:before {
  content: "\e65c";
}

.icon-dwsurvey-zhiyeleibie:before {
  content: "\e65d";
}

.icon-dwsurvey-tupianduoxuan:before {
  content: "\e65e";
}

.icon-dwsurvey-danxuan-1:before {
  content: "\e65f";
}

.icon-dwsurvey-danxuan-2:before {
  content: "\e660";
}

